FROM node:18

# Establece el directorio de trabajo
WORKDIR /app

# Copia los archivos necesarios
COPY package*.json ./

RUN npm install

# Copia el resto del código
COPY . .

# Expone el puerto (aunque no lo usa directamente)
EXPOSE 3000

# Comando para iniciar el bot
CMD ["npm", "start"]
