# Node modules
node_modules/

# Archivos de entorno (Railway o local)
.env

# Archivos de autenticación de whatsapp-web.js
.session/
.session-data/
.wwebjs_auth/
.wwebjs_cache/
.wwebjs_session/

# Archivos de logs
*.log

# Salidas temporales o de build
dist/
build/

# Configuraciones locales de IDE
.vscode/
.idea/
